<article class="changed-file" data-role="changed-file" data-path="<%= file.path %>">
  <% stats = diff_stats(file) %>
  <% layout = local_assigns.fetch(:layout, :split) %>
  <% compact_line_height = local_assigns.fetch(:compact_line_height, true) %>

  <header id="<%= file_anchor_id(file.path) %>">
    <div class="pf-file-header__left">
      <button class="pf-file-header__toggle" type="button" aria-label="Collapse file"><%= octicon(:chevron_down, size: 16) %></button>
      <span class="pf-diffstat" aria-hidden="true"><span class="pf-diffstat-count"><%= stats[:additions] + stats[:deletions] %></span><%= diffstat_blocks(stats[:additions], stats[:deletions]) %></span>
      <strong class="pf-file-header__path"><%= file.path %></strong>
    </div>
  </header>

  <% if layout == :unified %>
    <%= render "pull_requests/unified_diff_table",
      file: file,
      compact_line_height: compact_line_height %>
  <% else %>
    <%= render "pull_requests/split_diff_table",
      file: file,
      compact_line_height: compact_line_height %>
  <% end %>
</article>
