<aside class="pf-file-tree" data-role="file-tree">
  <%= form_with url: filter_path, method: :get, class: "pf-file-filter" do %>
    <%= hidden_field_tag :layout, local_assigns.fetch(:layout, :split) %>
    <%= hidden_field_tag :compact, local_assigns.fetch(:compact_line_height, true) ? "1" : "0" %>
    <%= hidden_field_tag :tree, local_assigns.fetch(:show_file_tree, true) ? "1" : "0" %>
    <label class="pf-file-filter__input">
      <%= text_field_tag :q, query, placeholder: "Filter files..." %>
    </label>
  <% end %>

  <ul class="pf-file-tree__list">
    <% file_tree_nodes(files).each do |node| %>
      <% if node.file %>
        <li>
          <a href="#<%= file_anchor_id(node.file.path) %>" class="pf-file-tree__entry pf-file-tree__entry--file" style="--tree-level: <%= node.level %>">
            <span class="pf-file-tree__label">
              <span class="pf-file-tree__glyph" aria-hidden="true"><%= octicon(:file, size: 16) %></span>
              <span class="pf-file-tree__path"><%= node.name %></span>
            </span>
            <span class="pf-file-tree__meta">
              <span class="pf-file-tree__status"><%= node.file.status %></span>
            </span>
          </a>
        </li>
      <% else %>
        <li>
          <div class="pf-file-tree__entry pf-file-tree__entry--directory" style="--tree-level: <%= node.level %>">
            <span class="pf-file-tree__label">
              <span class="pf-file-tree__glyph pf-file-tree__glyph--chevron" aria-hidden="true"><%= octicon(:chevron_down, size: 16) %></span>
              <span class="pf-file-tree__glyph" aria-hidden="true"><%= octicon(:file_directory_open, size: 16) %></span>
              <span class="pf-file-tree__path"><%= node.name %></span>
            </span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</aside>
