<table class="diff-table pf-unified-diff <%= "pf-diff-table--compact" if compact_line_height %>" data-role="unified-diff">
  <colgroup>
    <col class="pf-col-number">
    <col class="pf-col-number">
    <col>
  </colgroup>
  <tbody>
    <% unified_diff_rows(file).each do |row| %>
      <% if row.kind == :hunk %>
        <tr class="pf-hunk-row">
          <td class="line-number line-number--hunk">...</td>
          <td class="line-number line-number--hunk">...</td>
          <td class="line-code line-code--hunk" colspan="2">
            <code><%= row.hunk %></code>
          </td>
        </tr>
        <% next %>
      <% end %>

      <tr class="pf-split-row">
        <td class="line-number <%= "line-number--#{row.cell_kind}" unless row.left_number.nil? && row.right_number.nil? %>"><%= row.left_number %></td>
        <td class="line-number <%= "line-number--#{row.cell_kind}" unless row.left_number.nil? && row.right_number.nil? %>"><%= row.right_number %></td>
        <td class="line-code line-code--<%= row.cell_kind %>">
          <div class="line-code__content">
            <code><%= highlighted_diff_line(file.path, row.content) %></code>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
