<section class="gh-page gh-page--wide">
  <%= render "pull_requests/repository_header", local_repository: @local_repository %>

  <%= render "pull_requests/pull_request_header",
    local_repository: @local_repository,
    pull_request: @pull_request,
    comparison: @comparison,
    active_tab: :commits %>

  <div class="gh-review-layout">
    <%= render "pull_requests/file_tree",
      files: @commit.files,
      query: @query,
      comment_counts: @comment_counts,
      filter_path: pull_request_commit_path(@pull_request, @commit.sha) %>

    <section class="gh-diff-column">
      <article class="gh-card gh-commit-summary" data-role="commit-summary">
        <div class="gh-card-body">
          <h2><%= @commit.message %></h2>
          <% if @commit.body.present? %>
            <pre><%= @commit.body %></pre>
          <% end %>

          <div class="gh-commit-summary__footer">
            <span><%= @commit.author_name %> committed <%= time_ago_in_words(@commit.authored_at) %> ago</span>
            <code>commit <%= @commit.short_sha %></code>
          </div>

          <div class="gh-commit-summary__actions">
            <% if @previous_commit %>
              <%= link_to "Prev", pull_request_commit_path(@pull_request, @previous_commit.sha), class: "button button-secondary button-small" %>
            <% end %>
            <% if @next_commit %>
              <%= link_to "Next", pull_request_commit_path(@pull_request, @next_commit.sha), class: "button button-secondary button-small" %>
            <% end %>
            <%= link_to "Browse files", repository_pull_request_files_path(@local_repository, @pull_request), class: "button button-secondary button-small" %>
          </div>
        </div>
      </article>

      <% @files.each do |file| %>
        <%= render "pull_requests/diff_file",
          pull_request: @pull_request,
          file: file,
          comments_by_key: @comments_by_key,
          commit_sha: @commit.sha,
          redirect_path: pull_request_commit_path(@pull_request, @commit.sha),
          show_review_state: false %>
      <% end %>
    </section>
  </div>
</section>
