<div class="pf-page--conversation">
  <div class="pf-pulls-header">
    <h1>Repositories</h1>
    <%= link_to "Add repository", new_repository_path, class: "pf-button" %>
  </div>

  <% if @local_repositories.any? %>
    <ul class="pf-repo-list">
      <% @local_repositories.each do |repo| %>
        <li class="pf-repo-list__item">
          <div class="pf-repo-list__info">
            <%= link_to repository_pulls_path(repo), class: "pf-repo-list__title" do %>
              <%= octicon(:repo) %>
              <strong><%= repo.name %></strong>
            <% end %>
            <span class="pf-repo-list__meta">
              <code><%= repo.path %></code>
              <span class="pf-inline-branch"><%= repo.default_branch %></span>
              <%= pluralize(@pr_counts[repo.id] || 0, "pull request") %>
            </span>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="pf-repo-list__empty">
      <%= octicon(:repo, size: 24) %>
      <h2>Add your first repository</h2>
      <p>Register a local git repository to start reviewing changes before opening a pull request.</p>
      <%= link_to "Add a repository", new_repository_path, class: "pf-button" %>
    </div>
  <% end %>
</div>
